:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 0.94rem;
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--VeryDarkBlue);
}
main {
    border-radius: 0.8rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--DarkBlue);
    color: var(--White);
}
.heading {
    margin-top: 0.5rem;
}
p {
    opacity: 0.7;
}

/* Image components */
.star {
    position: relative;
    z-index: 1;
}
.star-container {
    margin: 0.8rem 1.8rem 0 0;  
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.1);
    display: inline-block;
}


/* Buttons section */
.rate-container {
    text-align: center;
}
.rate-buttons {
    position: relative;
    padding: 0.7rem 1rem;
    margin-right: 1.2rem;
    background-color: transparent;
    z-index: 1;
    border-radius: 50%;
}
.rate-buttons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--LightGrey);
    opacity: 0.2;
    z-index: -1;
    border-radius: 50%;
}
.rate-buttons:hover {
    background-color: var(--Orange);
}
#submit {
    margin: 0.8rem 0.5rem 0 0;
    padding: 0.7rem 8rem;
    border-radius: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    background-color: var(--Orange);
    border: none;
}
#submit:hover {
    background-color: var(--White);
}
.submit-button {
    display: grid;
    place-items: center;
}
