:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 0.94rem;
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--VeryDarkBlue);
}
main {
    border: 2px solid brown;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--DarkBlue);
    color: var(--White);
}
.heading {
    margin-top: 0.5rem;
}

/* Image components */
.star {
    position: relative;
    z-index: 1;
}
.star-container {
    margin: 0.8rem 1.8rem 0 0;  
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.1);
    display: inline-block;
}


/* Buttons section */
.rate-buttons {
    border-radius: 50%;
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    background-color: var(--LightGrey);
    opacity: 0.2;
}
#submit {
    margin: 0.8rem 0.5rem 0 0;
    padding: 0.7rem 8rem;
}
.submit-button {
    display: grid;
    place-items: center;
}